fastapi==0.111.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
pydantic==2.8.2

langchain==0.2.7
langchain-core==0.2.11
langchain-community==0.2.6

chromadb==0.5.4

unstructured==0.14.7
unstructured[pdf]==0.14.7
pypdf==4.2.0
pdfminer-six==20231228